.header {
 background-color: #fff;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 80px;
 position: fixed;
 width: 100%;
 z-index: 10;
 box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .175);
}
.header-menu {
 width: 60%;
}
.logo-icon {
   width: 32px;
   height: 32px;
}
.title-icon {
  height: 20px;
  margin-left: 6px;
}
.active {
  color: #1677ff !important;
}
.active::before {
  content: "";
  position: absolute;
  width: calc(100% - 16px);
  height: 3px;
  bottom: -17px;
  left: 8px;
  background-color: #1677ff;
}

.user-modal {
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.img-wrapper {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  font-family: serif;
}
.logo-text-zh {
  font-size: 16px;
  font-weight: bold;
  font-family: cursive;
}